<%= render 'shared/title', title: "Please Register" %>

<div class = "row">
  <div class = "col-md-6 well">
<!-- Use form helper -->
    <%= form_for @user do |f| %>
<!-- Topic -->
      <div class = "form-group">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
      </div>

<!-- Post_text -->
      <div class = "form-group">
      <%= f.label :password %>
      <br>
      <%= f.text_field :password %>
      </div>

<!-- Submit button -->
    <%= f.submit(@user.new_record? ? "Register" : "Update Profile", class: "btn btn-info") %>
    <% end %>
  </div>
</div>

<!-- Link to the main page -->
<hr>

<%= link_to "Not Now", posts_path%>