<%= render "shared/title", title: "Say Something!" %>

<div class = "row">
  <div class = "col-md-6 well">
<!-- Use form helper -->
    <%= form_for Post.new do |f| %>
<!-- Topic -->
      <div class = "form-group">
      <%= f.label :topic %>
      <br>
      <%= f.text_field :topic %>
      </div>

<!-- Post_text -->
      <div class = "form-group">
      <%= f.label :post_text %>
      <br>
      <%= f.text_area :post_text, size: "50x10" %>
      </div>

<!-- Submit button -->
      <%= f.submit(@post.new_record? ? "Submit" : "Update Post", class: "btn btn-primary") %>
    <% end %>
  </div>
</div>

<!-- Link to the main page -->
<hr>

<%= link_to "Back", posts_path%>
