<!-- Show a post-->
<%= render 'shared/title', title: "You are reading: #{@post.topic}" %>

<div class = "row">
  <div class = "col-md-6 well">
<!-- Show tags-->
      <%= render partial: "tags/tag", collection: @post.tags %>
    <p>
      <h4><%= @post.topic%></h4>
    </p>
    <p>
      <%= @post.post_text%>
    </p>
      <small> Posted by </small><%= "#{@post.user.name}" %>
  </div>
</div>

<!-- Show comments of a post-->
<h3>Comments:</h3>

<% @post.comments.each do |comment| %>
  <div class = "row">
    <div class = "col-md-6 well">
      <p>
      	<%= comment.comment_text %>
      </p>
        <small> Commented by </small><%= "#{comment.user.name}" %>
    </div>
  </div>
<% end %>

<!-- User only -->
<% if logged_in? %>
<!-- Create a new comment -->
  <h3>Leave your comments here!</h3>

  <%= form_for [@post, @comment] do |f| %>
    <div class = "row">
      <%= f.text_area :comment_text, rows: 3, class: "col-md-6" %>
      <div class = "col-md-6">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

<% end %>

<!-- Link to the main page -->
<hr>

<div class = "row">
  <%= link_to "Back", posts_path%>
</div>